@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*universal selector*/
* {
  /*if we add a border or padding to the element,
     it doesn't actually affect the width of the element
    */
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: #ffffff;
  z-index: 50;
}

.bg {
  background-color: #fdd460;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.header button {
  cursor: pointer;
  position: absolute;
  background: transparent;
  padding: 5px;
  border: 0;
  font-size: 30px;
  color: #fff;
}

.header button:focus {
  outline: none;
}

.header button#open {
  top: 0;
  color: grey;
  right: 0;
}

.container-layout {
  position: relative;
}

.layout {
  display: flex !important;
  flex-flow: column wrap;
  height: 100vh;
}

.cards {
  display: flex !important;
  height: 100vh;
}

.group {
  display: flex !important;
}

.header img {
  margin: 10px;
}

.container-layout h1 {
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  margin-top: 0px;
}

div.item {
  position: relative;
  display: flex;
  background-color: #ffffff;
  height: 400px;
  width: 400px;
  margin: 10px;
  top: 150px;
  overflow: scroll;
  text-align: justify;
}

h2.text-1 {
  font-family: Oswald, sans-serif !important;
  line-height: 1.5;
  padding: 5px;
  word-wrap: break-word;
  background-color: #fdd460;
  justify-content: space-around;
  border-radius: 50%;
  margin: 10px 10px;
  font-size: 3rem;
  font-weight: 400;
  height: 75px;
  width: 75px;
  text-align: justify;
}

.text-2 {
  display: flex;
  margin-bottom: 0;
  padding: 10px;
  font-size: 21px;
}

.text-3 {
  margin-top: 100px;
  padding: 10px;
  display: absolute;
  flex-flow: column wrap;
  justify-content: center;
  font-size: 21px;
}

@media (max-width: 770px) {
  .container-layout h1 {
    background-color: #ffffff;
    min-height: 100px;
    min-width: 600px;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
    word-wrap: break-word;
    margin-top: 5px;
  }

  div.item {
    display: flex;
    background-color: #ffffff;
    overflow: scroll;
    text-align: justify;
  }

  .layout {
    display: flex !important;
  }

  .cards {
    display: flex !important;
    height: 100vh;
  }

  .group {
    display: flex !important;
  }

  h2.text-1 {
    display: flex;
    font-size: 21px;
    word-wrap: break-word;
    background-color: #fdd460;
    justify-content: center !important;
    border-radius: 50%;
    margin: 10px 10px;
    font-weight: 400;
    text-align: justify;
    height: 50px;
    width: 50px;
  }

  .text-2 {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-size: 21px;
  }

  .text-3 {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    font-size: 21px;
  }
}