@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --left-bg-color: rgba(87, 84, 236, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    /* same as --left-bg-color except no transparency hence set alpha value to 1 */
    --left-btn-hover-color: rgba(87, 84, 236, 1);
    --right-btn-hover-color: rgba(28, 122, 28, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

/*universal selector*/
* {
    /*if we add a border or padding to the element,
     it doesn't actually affect the width of the element
    */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    /* prevent scrollbars to be shown by default*/
}

h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: 0.2rem solid #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.left .btn:hover {
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}


.split.right .btn:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

nav {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    transform: translateY(50px);
}

nav ul {
    list-style-type: none;
}

/* makes the icon bigger and puts a space in between them */
nav ul li i {
    color: black;
    font-size: 30px;
    height: 50px;

}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url("https://gmedia.playstation.com/is/image/SIEPDC/playstation-5-horizontal-product-shot-01-ps5-en-23nov20?$2400px--t$");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--left-bg-color)
}

.split.right {
    right: 0;
    background: url("https://assets.xboxservices.com/assets/fb/d2/fbd2cb56-5c25-414d-9f46-e6a164cdf5be.png?n=XBX_A-BuyBoxBGImage01-D.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--right-bg-color)
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
        top: 30%
    }

    .btn {
        padding: 1.2rem;
        width: 12rem;
    }

    nav {
        position: absolute;
        display: flex;
        z-index: 100;
        transform: translate(-25px, 350px);
    }

    /* makes the icon bigger and puts a space in between them */
    nav ul li i {
        color: black;
        font-size: 10px;
        height: 1rem;
        top: 10%;
        left: 100%;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 0.8rem;
        top: 20%
    }

    .btn {
        padding: 0.5rem;
        width: 5rem;
        font-size: 0.5rem;
    }

    nav {
        position: absolute;
        display: flex;
        z-index: 100;
        transform: translate(-25px, 350px);
    }

    /* makes the icon bigger and puts a space in between them */
    nav ul li i {
        color: black;
        font-size: 10px;
        height: 1rem;
        top: 10%;
        left: 100%;
    }
}