@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*universal selector*/
* {
    /*if we add a border or padding to the element,
     it doesn't actually affect the width of the element
    */
    box-sizing:border-box;
}

body {
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    font-family: 'Roboto',sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* prevent scrollbars to be shown by default*/
}

.search{
    position: relative;
    height: 50px;
}

.search .input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top:0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus{
    outline: 0;
}

.search.active input{
    width: 200px;
}

.search.active .btn{
    transform: translateX(198px);
}

nav {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    transform: translate(-700px, -50px);
}

nav ul {
list-style-type: none;
}

/* makes the icon bigger and puts a space in between them */
nav ul li i {
    color: black;
    font-size:30px;
    height: 50px;

}